bridges:
  bridge1:
      from:
        netcat:
          port: 10001
      to:
        netcat:
          port: 10002
  bridge2:
    from:
      netcat:
        port: 10003
    to:
      telegram_bot:
        token: ABCDEFGHIJKLMNOPQRSTUVWXYZ
        chat_id: 123456789
